<%- include('partials/header.ejs') %>


<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <div class="card m-5" id="formulario-pergunta">
            <div class="card-header">
                <h3>Realizar Pergunta</h3>
               
            </div>
            <div class="card-body">
                <form method="post" action="/salvarpergunta" class="">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Titulo</label>
                        <input name="titulo" type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Pergunta</label>
                        <textarea name="descricao" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                      <div class="mb-3">
                        <button class="btn btn-primary">Perguntar</button>
                      </div>                   
                </form>
            </div>
        </div>
    </div>

  
</body>

<%- include('partials/footer.ejs') %>